div{
	font-family: Helvetica;
	background-color: Linen;
	color: #222;
	margin: auto;
	width: 90%;
}
header{
	background-color: black;
	color: white;
	width: 50%;
	height: 100px;
}
header#prawy{
	float: left;
}
header#lewy{
	float: left;
}
main{
	padding: 20px;
	clear: both;
}
footer{
	background-color: black;
	color: white;
	padding: 20px;
	text-align: center;
}
table{
	margin: 40px;
}
td{
	padding: 30px;
	text-align: center;
	font-weight: bold;
}
a{
	color: #aaa;
	text-decoration: none;
}
a:hover{
	color: white;
}
li{
	display: inline-block;
	padding: 5px;
	margin: 10px;
	text-decoration: underline 1px white;
}
